{% extends "base.html" %}
{% block title %}StudyBuddy - Home{% endblock title%}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">
            Welcome to <b>Study Buddy</b>
        </h1>
        <p class="lead">
            We will help you <b>match</b> classmates to help you prepare for school materials more effectively.
        </p>
        <hr class="my-4">
        <p class="lead">
              {% if user.is_authenticated %}
                    <a class="btn btn-primary btn-lg" href="/get_matches" role="button">Start Matching</a>
<!--                     <a class="btn btn-primary btn-lg" href="{% url 'all_rooms' %}" role="button">Chat Rooms</a> -->
              {% else %}
                    <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Sign in</a>
              {% endif %}
        </p>
    </div>

{% endblock content %}

